@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap';

@mixin title-font{
    font-family: Merriweather Sans, sans-serif;
    font-size: 2rem;
}

@mixin subtitle-font{
    font-family: Merriweather Sans, sans-serif;
    font-size: 1rem;

}

@mixin blocksOfRequisitions{
    
}
