@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Open+Sans:wght@300&display=swap';

@mixin title-font{
    font-family: Merriweather Sans, sans-serif;
    font-size: 2rem;
}

@mixin subtitle-font{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
    margin:.3rem 0 .3rem 0;

}

@mixin text-font{
    font-family: 'Open Sans', sans-serif;;
}

@mixin blocks-of-requisitions{
    background-color: rgb(227, 224, 219);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(216, 206, 206);
    border-width: 2px;
    margin: 1rem;
    padding: 15px;
}

